/* Universal Styles */

html {
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    background-color: #587391;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
}

.button {
    background-color: #FFB7C3;
    padding: 0.7rem;
    border-radius: 0.3rem;
    text-align: center;
}

h4{
    margin: 0.5rem;
}

/* Navagation Bar */

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    background-color: #F4F4F9;
    border: 0;
    
}

header .nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

nav ul{
    display: flex;
}

nav li{
    padding: 0.7rem 4rem;
}

nav .nav-bar{
     width: 100%;
}

/* Main Content */

.main-content{
    position: relative;
    top: 6rem;
}

.title{
    color: #FFB7C3;
    text-align: center;
    font-size: 2.5rem;
}

img{
    padding: 0.3rem 1.5rem;
    display: flex;
    justify-content: center;
    margin: auto;
}

/* Home Page */

.main-content-home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Welcome */

.Welcome {
    background-color: #B8DBD9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    width: 80%;
}

.Welcome h2, .Welcome h3{
    text-align: center;
}

/* About Me */

.About {
    background-color: #B8DBD9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 2rem 1rem 2rem;
    display: flex;
    width: 85%;
}

.about-text {
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
}

.About img{
    width: 9rem;
    height: auto;
    padding: 0.3rem;
    background-color: #F4F4F9;
    border-radius: 12rem;
    justify-content: flex-start;
}

/* Sign Up */

.signup {
    background-color: #B8DBD9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    text-align: center;
    width: 98%;
}

.signup .button{
    display: flex;
    width: 20%;
    justify-content: center;
    margin: auto;
}

/* Notice */

.notice{
    background-color: #F4F4F9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    display: flex;
    width: 98%;
}

.notice h4{
    padding: 4rem 0;
}

.notice img{
    width: 6rem;
    height: auto;
    margin: 2rem;
    justify-content: flex-end;
}

/* Articles Page */

div .articles{
    display: flex;
    justify-content: center;
}

.articles ul{
    padding: 0;
    text-align: center;
}

.articles li{
    float: left;
    background-color: #B8DBD9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1.5rem;
    width: 42%;
}

.articles a{
    font-size: 1.35rem;
}

.articles img{
    width: 19rem;
    height: 19rem;
}

/* Articles */

.article-content{
    background-color: #B8DBD9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1.5rem;
}

.information{
    background-color: #F4F4F9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
}

.information h4{
    text-align: center;
}

.information img{
    width: auto;
    height: 30rem;
}

.a-heading{
    margin: 0 0 3rem 0;
}

.info-text{
    margin: 0 2rem;
}

.information a{
    color: #587391;
}

.info-text img{
    width: 30rem;
    height: auto;
}

/* Log In Page */

body .login-content{
    display: flex;
    align-items: center;
}

.login-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login{
    background-color: #B8DBD9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form{
    background-color: #F4F4F9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

label, input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Footer */

.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #F4F4F9;
    border: 0;
}

.footer h6{
    margin: 0.2rem;
}

/* Work In Progress Page */

.InProgress-content{
    display: flex;
}

.inprogress{
    background-color: #B8DBD9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 98%;
    height: auto;
    text-align: center;
}